* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Navbar */
.navigation {
  height: 100px;
  width: 100%;
  border: solid 1px #888888;
  box-shadow: 1px 1px 1px #888888;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation > .navbar-logo {
  margin-left: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

.navigation > .navbar-menu {
  margin-right: 2rem;
}


/* Log Section */
.log-section {
  margin-top: 1rem;
  width: 80%;
  height: 2.5rem;
  border: solid 1px #888888;
  border-radius: 3px;
  box-shadow: 2px 3px 2px #888888;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Content Body */
.content-body {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-body > .content-title > strong {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
}

.content-body > .content-title {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.check-db-btn {
  margin-left: 1rem;
  border-radius: 3px;
  padding: 0.3rem;
}

.enabled.check-db-btn {
  color: #2c2c2c;
  border: solid 1px #2c2c2c;
  cursor: pointer;
}

.disabled.check-db-btn {
  color: #E5E5E5;
  border: solid 1px #E5E5E5;
}

.content-body > .task-body {
  width: 90%;
}

.task-row {
  width: 100%;
  height: 3rem;
  border-bottom: solid 1.5px #888888;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.task-row > .task-name {
  width: 70%;
  display: flex;
  justify-content: center;
}

.task-row > .task-actions {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.task-row > .task-actions > .task-btn {
  margin: 0 1rem;
  color: #888888;
  border: solid 1px #888888;
  border-radius: 4px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.task-row > .task-actions > .task-btn:visited,
.task-row > .task-actions > .task-btn:hover,
.task-row > .task-actions > .task-btn:active,
.task-row > .task-actions > .task-btn:focus {
  background-color: #888888;
  color: white;
}


/* Log Area */
.content-body > .back-btn-section {
  width: 70%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.back-btn {
  color: #888888;
  border: solid 1px #888888;
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.back-btn:visited,
.back-btn:hover,
.back-btn:active,
.back-btn:focus {
  background-color: #888888;
  color: white;
}

.content-body > .task-tags {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.task-tags > .task-tag {
  font-family: 'Ubuntu', sans-serif;
  width: 5rem;
  border-radius: 9px;
  padding: 0.1rem;
  margin: 0.2rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.task-tag.black {
  border: solid 1px #2C2C2C;
  color: #2C2C2C;
}

.task-tag.gray {
  border: solid 1px #939598;
  color: #939598;
}

.task-tag.red {
  border: solid 1px #ef5b71;
  color: #ef5b71;
}

.task-tag.green {
  border: solid 1px #5eed82;
  color: #5eed82;
}

.task-tag.blue {
  border: solid 1px #189cf9;
  color: #189cf9;
}

.task-tag.purple {
  border: solid 1px #6d2afc;
  color: #6d2afc;
}

.task-tag.brown {
  border: solid 1px #c68671;
  color: #c68671;
}

.task-tag.all {
  background-color: #2C2C2C;
  color: white;
}

.log-body {
  margin-top: 1rem;
}

.log-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.log-content {
  margin-left: 1rem;
}

.black {
  color: #2C2C2C;
}

.gray {
  color: #939598;
}

.red {
  color: #ef5b71;
}

.green {
  color: #5eed82;
}

.blue {
  color: #189cf9;
}

.purple {
  color: #6d2afc;
}

.brown {
  color: #c68671;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .task-row > .task-actions > .task-btn {
    width: 7rem;
  }
  .back-btn {
    margin-bottom: 1.7rem;
  }
  .log-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .log-row {
    width: 85%;
    border-bottom: solid 1px #888888;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .log-content {
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .task-row > .task-actions > .task-btn {
    width: 10rem;
  }
}
