{% load static %}
<!doctype html>
<html lang="kr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>Buzzz Gateway</title>
        <link rel="icon" href="{% static 'img/buzzz.ico' %}" type="image/x-icon" />
        <!-- Custom -->
        <link rel="stylesheet" href="{% static 'css/gateway.css' %}" type="text/css" media="all">

        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Ubuntu" rel="stylesheet">
    </head>

    <body>


      <!-- Navbar -->
      <div class="navigation">
        <div class="navbar-logo">
          buzzz
        </div>
        <div class="navbar-menu">
          login
        </div>
      </div>

      <!-- Log Section -->
      <div class="log-section">
        <div id="log"></div>
      </div>

      <!-- Content Body -->
      <div class="content-body"></div>


      <!-- Websocket with Socket.io -->
      <script type="text/javascript" src="{% static 'dist/gateway.js' %}"></script>
    </body>

</html>
