{% load static %}
<!doctype html>
<html lang="kr">

    <head>
        <meta charset="UTF-8">
        <title>Buzzz</title>
        <link rel="icon" href="{% static 'img/buzzz.ico' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'css/ms_responsive.css' %}" type="text/css" media="all">
        <script type="text/javascript" src="{% static 'js/ms_reponsive.js' %}"></script>
    </head>

    <body>

        <!-- Navigation -->
        <div class="navigation">
          <div class="top-nav">
            <div class="logo">
              buzzz
            </div>
            <div class="user-actions">
              login
            </div>
          </div>
          <div class="bottom-nav">
            bottom
          </div>
        </div>

    </body>

</html>
